body {
  margin: 0;
  color: white;
  background: #1a1a1a;

  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
}

button, input {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
}
